@model GummiBearKingdom.Models.Product;

<html>
<head>
	<title>Delete</title>
</head>
<body>
	<h3>Are you sure you want to delete this?</h3>
	<div>
		<h4>@Html.DisplayFor(model => model.Name)</h4>
		<table class="table">
			<thead>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			</thead>
			<tbody>
				<tr>
					@Html.DisplayFor(model => model.Description)
				</tr>
				<tr>
					@Html.DisplayFor(model => model.Price)
				</tr>
			</tbody>
		</table>
	</div>
	<form asp-action="Delete">
		<div class="form-actions">
			<input type="submit" value="Delete" class="btn btn-danger" />
			<a asp-action="Details" asp-route-id="@model.ProductId">Cancel</a>
		</div>
	</form>
	
</body>

</html>
