@model GummiBearKingdom.Models.Product

<head>
	<title>Details</title>
</head>
<body>
	<div>
		<h2>
			@Html.DisplayFor(model => model.Name)
		</h2>
		<hr />
		<h4>Description: </h4>
		<p>@Html.DisplayFor(model => model.Description)</p>
		<h4>Category:</h4>
		<p>@Html.DisplayFor(model => model.Category.Name)</p>
	</div>
	<div>
		<h4>Reviews:</h4>
		<ul>
			@foreach (var rev in Model.Reviews)
			{
				<li>
					<table class="table">
						<thead>
							<tr>
								<th>
									Author
								</th>
								<th>
									Rating
								</th>
								<th>
									Review
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									@rev.Author
								</td>
								<td>
									@rev.rating
								</td>
								<td>
									@rev.Content_Body
								</td>
							</tr>
						</tbody>
					</table>
				</li>

			}
		</ul>
		<a class="">@Html.ActionLink("Add Review", "Create", "Reviews")</a>
		<hr />
	</div>
	<div>
		<a asp-action="Edit" asp-route-id="@Model.ProductId">Edit Product</a> |
		<a asp-action="Index">Back to Product List</a>
	</div>
</body>